* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ******************************************** */
/*                     TAGS                     */
/* ******************************************** */
body {
  background-color: #1C1C1C;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(48, 48, 48);
}

h3 {
  letter-spacing: -1px;
}

/* ******************************************** */
/*                    COMMONS                   */
/* ******************************************** */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* ******************************************** */
/*                    HEADER                    */
/* ******************************************** */
header {
  background-color: #fff;
  padding: 15px 0;
}

header .container {
  display: flex;
}

header img {
  width: 80%;
}

nav {
  text-align: end;
  margin-left: auto;
}

header ul {
  height: 100%;
  display: flex;
  align-items: center;
}

header ul li {
  margin: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  transform: scale(0.85, 1.1);
  position: relative;
}

header ul li a:hover,
header ul li a.active {
  color: #2C7DF5;
  transition: 0.3s;
}

.mark {
  opacity: 0;
  background-color: #2C7DF5;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -44px;
  left: 0;
  z-index: 3;
}

header ul li a:hover+.mark,
header ul li a.active+.mark {
  opacity: 1;
  transition: 0.3s;
}


/* ******************************************** */
/*                     MAIN                     */
/* ******************************************** */
.top-main {
  background-color: #1C1C1C;
  color: #fff;
  padding-bottom: 20px;
}

.top-main h2 {
  font-size: 24px;
  font-weight: 700;
}

/* #jumbotron */
#jumbotron {
  height: 400px;
  background-image: url("./assets/img/jumbotron.jpg");
  margin-bottom: 50px;
  position: relative;
}

#flag {
  background-color: #2C7DF5;
  padding: 10px 20px;
  font-weight: 600;
  letter-spacing: -1px;
  position: absolute;
  bottom: -20px;
  left: 15%;
}

/* .comics-wapper */
.comics-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.comic-card {
  flex-basis: calc((100% - 100px) / 6);
}

.comic-card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
}

.comic-card h5 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

#load-btn {
  background-color: #2C7DF5;
  padding: 10px 60px;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
}

#load-btn a {
  color: #fff;
}

/* .bottom-main */
.bottom-main {
  background-color: #2C7DF5;
  padding: 50px 0;
}

.list-wrapper {
  display: flex;
  align-items: center;
  color: #fff;

}

.bottom-main ul {
  display: flex;
  justify-content: space-around;
}

.bottom-main ul li {
  flex-basis: 18%;
  margin: 0 20px;
  font-size: 14px;
}

.bottom-main img {
  height: 50px;
  margin-right: 20px;
}

.bottom-main li:last-of-type img {
  width: 50px;
}

/* ******************************************** */
/*                    FOOTER                    */
/* ******************************************** */

footer {
  background-color: #303030;
}

/* .top-footer */
.top-footer {
  background-image: url("./assets/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.top-footer .content {
  display: flex;
}

.top-footer .footer-col {
  flex-basis: 50%;
}

.top-footer .left {
  display: flex;
  margin: 30px 0 40px 0;
}

.top-footer .left .footer-subcol {
  flex-basis: calc(70% / 3);
}

.left h3 {
  color: #fff;
  margin: 10px 0;
}

.left ul {
  line-height: 18px;
}

.left li a {
  color: gray;
  font-size: 12px;
}

.top-footer .right figure {
  height: 100%;
  background-image: url("./assets/img/dc-logo-bg.png");
  background-size: cover;
  background-position-y: 50%;
}

/* .bottom-footer */
.bottom-footer {
  height: auto;
  padding: 40px 0;
}

.bottom-footer .content {
  display: flex;
}

.bottom-footer .footer-col {
  width: 50%;

}

.bottom-footer a h3 {
  display: inline;
  color: #fff;
  border: 2px solid #2C7DF5;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
}

.bottom-footer .wrapper {
  display: flex;
  justify-content: flex-end;
}

.wrapper h3 {
  color: #2C7DF5;
  margin-top: 5px;
  margin-right: 10px;
}

.wrapper ul {
  display: flex;
}

.wrapper ul li {
  margin: 0 10px;
}

.bottom-footer a h3:hover {
  background-color: #2C7DF5;
  transition: 0.3s;
}